<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile"
            xsi:type="File"
            fileName="${specialfolder:folder=ApplicationData}/PhishingReporter/logs/phishingreporter.log"
            layout="${longdate} [${level:uppercase=true}] ${logger} - ${message}${onexception:inner= ${exception:format=tostring}}"
            archiveFileName="${specialfolder:folder=ApplicationData}/PhishingReporter/logs/phishingreporter.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="false"
            keepFileOpen="true" />
  </targets>

  <rules>
    <logger name="PhishingReporter.*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>
